
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h3>great</h3>
        
      <input type="text" [(ngModel)]="name">
      <p>{{name}}</p>
      
      
      <app-servers></app-servers>

      <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
      <p *ngIf="showPara"> Thats a six</p>
      <div *ngFor="let item of log;let i=index"
      [ngStyle]="{backgroundColor : i>=4? 'blue':'white'}">{{item}}</div>
    </div>
  </div>
</div>

